<div data-ng-controller="aboutController as vm">
    <div class="alert alert-info mb0" role="alert"><h3 class="text-center mt10">Help</h3></div>
    <div class="row">
        <div class="col-md-12">
            <h3>Technical help:</h3>
            <div>If you find any bug or you want to give your opinion feel free to contact with <b>Arifur Rahman</b>.
            </div>
        </div>

        <div class="col-md-12">
            <h3>Blood collection help:</h3>
            <div>If you want to collect blood, create an account here and try to reach out the appropriate donor.
                If you can't reach appropriate donor, feel free to contact with <b>Mafi Islam</b> and <b>Jahangir Hossain</b>.
            </div>
        </div>
    </div>

    <div class="alert alert-info mb0 mt10" role="alert"><h3 class="text-center mt10">About Us</h3></div>
    <div class="row">
        <div class="col-md-12">
            <h3>Developer: </h3>
            <div class="well well-sm clearfix">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-2">
                        <img ng-src="{{vm.data.arif.profileImage || 'https://i.imgur.com/4zcf9Yj.jpg'}}" class="img-responsive"/>
                    </div>
                    <div class="col-md-10 col-lg-10 col-sm-10">
                        <h2 class="mt0" ng-bind="vm.data.arif.name||'Arifur Rahman (Sazal)'"></h2>
                        <h4 class="mt0">(Senior software engineer at <a href="http://www.brainstation-23.com/" target="_blank">BrainStation-23 Ltd</a>)</h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone"></i> <span ng-bind="vm.data.arif.mobileNo || '+8801721654450'"></span></li>
                            <li><i class="fa fa-envelope"></i> <span ng-bind="vm.data.arif.email || 'arif.rahman2009@gmail.com'"></span></li>
                            <li><i class="fa fa-globe"></i> <a href="http://arifur-rahman-sazal.blogspot.com" target="_blank">http://arifur-rahman-sazal.blogspot.com</a></li>
                            <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/arif.duet" target="_blank">Facebook</a></li>
                        </ul>
                    </div>
                </div><!--/row-->
            </div>
            <!--Body content-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Adviser & coordinator: </h3>
            <div class="well well-sm clearfix">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-2">
                        <img ng-src="{{vm.data.mafi.profileImage || 'https://i.imgur.com/ipnC1yH.jpg'}}" class="img-responsive"/>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <h2 class="mt0" ng-bind="vm.data.mafi.name||'Mafi Islam'"></h2>
                        <h4 class="mt0">(TV News Anchor/Reporter at <a href="http://www.ekattor.tv" target="_blank">Ekattor</a>)</h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone"></i> <span ng-bind="vm.data.mafi.mobileNo || '+8801711084145'"></span></li>
                            <li><i class="fa fa-envelope"></i> <span ng-bind="vm.data.mafi.email || 'mafi30th@yahoo.com'"></span></li>
                            <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/mafi.skylark" target="_blank">Facebook</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2">
                        <img ng-src="{{vm.data.jahangir.profileImage || 'https://i.imgur.com/qJzK8wT.jpg'}}" class="img-responsive"/>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <h2 class="mt0" ng-bind="vm.data.jahangir.name||'Jahangir Hossain Duranto Durbar'"></h2>
                        <h4 class="mt0">(Work at <a href="http://www.floralimited.com" target="_blank">Flora Limited</a>)</h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone"></i> <span ng-bind="vm.data.jahangir.mobileNo || '+8801719861001'"></span></li>
                            <li><i class="fa fa-envelope"></i> <span ng-bind="vm.data.jahangir.email || 'jahangirantar@gmail.com'"></span></li>
                            <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/jahangir.durantodurbarsainik" target="_blank">Facebook</a></li>
                        </ul>
                    </div>
                </div><!--/row-->
            </div>
            <!--Body content-->
        </div>
    </div>
</div>