<div class="row" data-ng-controller="profileController as vm">
    <div class="toppad" ng-class="{'edit-mode': vm.editMode}">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Sheena Shrestha</h3>
                <span class="pull-right">
                    <button ng-click="vm.enableEditMode()" title="Edit Profile" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></button>
                    <button ng-click="vm.disablEditeMode()" title="Clear Edit" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3" align="center">
                        <div class="profile-image" tabindex="0" aria-label="Profile image">
                            <div class="profile-image-button">
                                <button class="upload-img" type="button">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                    <span>Add</span>
                                </button>
                            </div>
                        </div>
                        <img class="img-circle img-responsive">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td ng-if="!vm.editMode" ng-bind="vm.profile.name"></td>
                                    <td ng-if="vm.editMode">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <span class="control-label">First Name :</span>
                                                <input type="text" name="firstName" id="firstName" class="form-control input-lg"
                                                       placeholder="First Name"
                                                       ng-model="vm.registration.firstName"
                                                       tabindex="0"
                                                       autofocus/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <span class="control-label">Last Name :</span>
                                                <input type="text" name="lastName" id="lastName" class="form-control input-lg"
                                                       placeholder="Last Name"
                                                       ng-model="vm.registration.lastName"
                                                       tabindex="0"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                            <div class="form-group">
                                                <span class="control-label">Display Name / Nick Name :</span>
                                                <input type="text" name="nikeName" id="nikeName" class="form-control input-lg"
                                                       ng-model="vm.registration.nikeName"
                                                       placeholder="Display Name"
                                                       tabindex="0" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hire date:</td>
                                    <td>06/23/2013</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>01/24/1988</td>
                                </tr>

                                
                                <tr>
                                    <td>Gender</td>
                                    <td>Female</td>
                                </tr>
                                <tr>
                                    <td>Home Address</td>
                                    <td>Kathmandu,Nepal</td>
                                </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="mailto:info@support.com">info@support.com</a></td>
                            </tr>
                            <tr>
                            <td>Phone Number</td>
                            <td>
                                123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                            </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                Last Update : <span class="text-info">May 05,2014,03:00 pm</span>
            </div>

        </div>
    </div>
</div>
