<div class="ng-cloak" data-ng-controller="profileController as vm" ng-cloak>
    <div class="toppad">
            <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-title text-center">
                    My Profile
                </div>
            </div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3" align="center">
                            <img ngf-src="vm.attachment.avater" class="img-circle img-responsive" alt="Can't load image "/>
                            <img ng-if="!vm.attachment.avater" src="../../Images/noimage.jpg" alt="Profile picture" class="img-circle img-responsive"/>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <table class="table table-user-information mb0">
                            <tbody>
                                <tr>
                                    <td class="h4">Name</td>
                                    <td>
                                        <span ng-bind="vm.profile.firstName"></span>
                                        <span ng-bind="vm.profile.lastName"></span>
                                        <span ng-show="vm.profile.nikeName">({{vm.profile.nikeName}})</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h4"># of times given blood</td>
                                    <td class="h4 blue"><strong ng-bind="vm.profile.bloodGiven"></strong> {{vm.profile.bloodGiven==0 || vm.profile.bloodGiven==1 ?"time":"times"}}</td>
                                </tr>
                                <tr>
                                    <td class="h4">Mobile Phone <label ng-if="vm.editMode" class="required"></label></td>
                                    <td ng-bind="vm.profile.phoneNumber"></td>
                                </tr>
                                <tr>
                                    <td class="h4">E-mail <label ng-if="vm.editMode" class="required"></label></td>
                                    <td ng-bind="vm.profile.email"></td>
                                </tr>
                                <tr>
                                    <td class="h4">Blood Group <label ng-if="vm.editMode" class="required"></label></td>
                                    <td ng-bind="vm.profile.bloodGroup"></td>
                                </tr>
                                <tr>
                                    <td class="h4">Date of Birth</td>
                                    <td ng-bind="vm.profile.dateOfBirth | date:'longDate'"></td>
                                </tr>

                                <tr>
                                    <td class="h4">Contact Address</td>
                                    <td>
                                        <span ng-bind="vm.profile.address"></span>
                                        <span ng-if="vm.profile.city || vm.profile.address">
                                            <br/>
                                            <span ng-bind="vm.profile.city"></span>
                                            <span ng-if="vm.profile.postCode">-</span>
                                            <span ng-bind="vm.profile.postCode"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h4">Gender <label ng-if="vm.editMode" class="required"></label></td>
                                    <td ng-bind="vm.profile.genderName"></td>
                                </tr>
                                <tr>
                                    <td class="h4">Country</td>
                                    <td ng-bind="vm.profile.country"></td>
                                </tr>
                                <tr>
                                    <td class="h4">Personal Identity Number</td>
                                    <td ng-bind="vm.profile.personalIdentityNum"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right text-right">
                        Last Update : <span class="text-info" ng-bind="vm.profile.lastUpdatedDate | date:'medium'"></span>
                    </div>
                </div>
            </div>
    </div>
</div>
