/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 10px;
    -moz-min-width: 320px;
    -ms-min-width: 320px;
    -o-min-width: 320px;
    -webkit-min-width: 320px;
    min-width: 320px;
}

.main-body {
    padding-top: 2em;
    padding-bottom: 2em;
}

.form-group,
.container,
.navbar,
.navbar-header,
.navbar-brand,
.container-fluid,
.row,
.btn,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*START : Footer*/
footer {
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 10px 0;
    color:#dec9c9;
}

footer a {
    color:#dec9c9!important;
    font-size: 20px;
    padding: 10px;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

footer a:hover {
    color: #fff!important;
}
/*END : Footer*/

/*START : Customize navbar*/
.navbar-custom {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.navbar-custom .navbar-nav>li>a {
    color: #dec9c9;
}
.navbar-custom .navbar-brand {
    color: #dec9c9;
}
.selected-menu {
    color: #ffffff!important;
}
.navbar-toggle {
    margin-right:0px
}
/*START : Customize navbar*/

.text-muted {
    margin: 20px 0;
}

.form-signin, .form-forgot, .form-reset {
  max-width: 420px;
  padding: 30px 38px 30px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
	
	
	/* for profile */
	
.square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    background-color: #FA396F;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
  max-height:200px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

.form-group.required .control-label:after { 
    color: #d00;
    font-family: 'FontAwesome';
    font-size: 0.65em;
    margin-left: 0.5em;
    font-weight: normal;
    content: "\f069";
}

.transparent-border{
    border-color: transparent!important;
}
.m0 {
    margin: 0 !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.p0 {
    padding: 0 !important;
}
.search input {
    font-family: 'FontAwesome';
    padding: 6px 12px !important;
}
.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer-cursor {
    cursor: pointer;
}

.light-green-color {
    color: #00ff7f;
}
.blue {
    color: blue;
}

/*Start : Profile image*/
.profile-image {
    width: 150px; 
    display: inline-block
}
.edit-mode .profile-image-button:hover .upload-img {
    display: block;
}

.profile-image-button {
    height: 150px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-image: url('/Images/noimage.jpg');
    background-repeat: no-repeat;
    -moz-min-width: 100px;
    -ms-min-width: 100px;
    -o-min-width: 100px;
    -webkit-min-width: 100px;
    min-width: 100px;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
    direction: ltr;
}

.upload-img {
    position: absolute!important;
    width: 100%;
    height: 75px;
    bottom: 0!important;
    left: 0;
    z-index: 999!important;
    opacity: .6!important;
    display: none;
    border: none;
    overflow: visible;
    color: #fff;
    text-align: center;
    padding: 0;
    font-size: 13px;
    background: #000;
    font-weight: bold;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad{
    margin-top:20px;
}

/*End : Profile image*/

/*Start : Radio button style*/
input[name='sex'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
}

input[name='sex']:focus {
    outline: none;
}

input[name='sex']:after {
    font-family: 'FontAwesome';
    display: inline-block;
    text-align: center;
    font-size: 2em;
    content: attr(data-icon);
    padding: 0.25em 0.25em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    color: gray;
    border: 0.1em solid transparent;
    -webkit-transition: box-shadow 1s, color 1s;
    -moz-transition: box-shadow 1s, color 1s;
    -ms-transition: box-shadow 1s, color 1s;
    -o-transition: box-shadow 1s, color 1s;
    transition: box-shadow 1s, color 1s;
}

input[name='sex']:checked:after {
    color: #d9534f;
    border-color: #d43f3a;
}

/*End : Radio button style*/

/* Landscape phone to portrait tablet */
@media (min-width: 1200px) {
    .col-lg-3 {
    }
}

@media (min-width: 992px) {
    .col-md-3 {
    }
}

@media (min-width: 768px) {
    .col-sm-3 {
    }
}

@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}